.my-separator {
  border: none;
  border-top: 2px solid gray;
  margin: 40px 0;
}

.centered-img {
  object-fit: contain; /* This will make sure the image is scaled properly */
  max-width: 100%; /* Ensures the image doesn't overflow its container */
  height: auto; /* Ensures the image height adjusts automatically based on width */
}

.circle-img {
  display: block;
  margin: auto;
  margin-bottom: 4px;
  border-radius: 50%;
    border: 2px solid gray;
}

.greeting {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-body-emphasis);
}

.font-questrial {
  font-family: 'Questrial', sans-serif;
}

